.wc-panel
{
	width: 100%;
}

.wc-history
{
	max-height: 400px;
	overflow-y: auto;
}

.wc-item
{
	border-bottom: 1px solid black;
}

.wc-item p
{
	display: inline;
}

.wc-item-engine
{
	float:left
}

div.wc-item-content
{
}
div.wc-item-functions
{
	align:right;
}

div.wc-item-script
{
	font-weight: bold;
}

div.wc-item-script:BEFORE
{
	content: ": ";
}

div.wc-item-out
{
	color: green;
}

div.wc-item-out:BEFORE
{
	content: "Out: ";
}


div.wc-item-err
{
	color: red;
}

div.wc-item-err:BEFORE
{
	content: "Err: ";
}


div.wc-item-return
{
	
}

div.wc-item-return:BEFORE
{
	content: ">>: ";
}
div.wc-item-exception
{
	color: red;
}

div.wc-item-duration:BEFORE
{
	content: "Duration: ";
}
div.wc-item-duration {
	color: grey;
	font-style: italic;
}

.wc-item-reuse
{
	padding-left: 2px; 
	padding-top: 0px; 
	border-top-width: 0px;
	display:block;
	background-color: #e6e6e6;
	width: 16px;
	height: 16px;
	
}

textarea.wc-script
{
	width: 100%;
	height: 10em;
}





